<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card-header>
      <ion-card-title>
        <ion-icon name="reorder-four-outline"></ion-icon> {{this.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Categoria: {{this.category}}
        </ion-item>
        <ion-item *ngIf="this.message != ''">
          {{this.message}}
        </ion-item>
      <ion-item>
        <ion-button (click)="deleteMedia()" expand="block" fill="outline">
          Eliminar
        </ion-button>
      </ion-item>
    </ion-list>

    </ion-card-content>
</ion-content>

