<ion-header>
  <ion-toolbar>
    <ion-title>Equipo Pokémon</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col sizeMd="4" *ngFor="let character of characters">
        <ion-card >
          <ion-card-header>
            <ion-img src="{{character.image}}" ></ion-img>
          </ion-card-header>
          <ion-card-title> 
            #{{character.id}}
            {{character.name}}
          </ion-card-title>
          <ion-card-content>
            <ion-button  (click)="abrirModal(character)" >
              Actualizar  
              <ion-icon slot="end" name="duplicate-outline"></ion-icon> 
            </ion-button>
            
              <ion-button  (click)="presentActionSheet(character)">
                Eliminar  
                <ion-icon slot="end" name="trash-outline"></ion-icon>
              </ion-button>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="addPokemon()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

</ion-content>






 
