ion-card-header{
    align-items: center;
}

ion-card-title{
    padding-left: 4%;
    font-size: 32px;
}
ion-img {
    width: 50%;
    height: 150px;
}

ion-content{
    --ion-background-color: #DC0A2F; 
}

ion-card{
    --ion-background-color: #ffffff;
}