<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-label slot="end" style="padding-right: 2%;">{{cont}}/6</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let character of characters">
            <ion-avatar slot="start">
              <img src="{{character.image}}">
            </ion-avatar>
            <ion-label>{{character.name}}</ion-label>
            <ion-checkbox slot="end" aria-label="Seleccionar Item" (ionChange)="updateTeam(character)"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-button  (click)="saveTeam()">
  Crear Equipo
</ion-button>






