

<ion-menu contentId="main-content">
 
  <ion-header>
    <ion-toolbar>
      <ion-icon class="iconLogin" slot="start" size="large" name="person-circle-outline"></ion-icon>
      <ion-title>{{this.user}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label> Informacion del Dex </ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-icon name="eyedrop-outline"></ion-icon>
          <ion-label>Movimientos</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="flash-off-outline"></ion-icon>
          <ion-label>Habilidades</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="hammer-outline"></ion-icon>
          <ion-label>Objetos</ion-label>
        </ion-item>

      </ion-item-group>
    
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label> Configuraciones </ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label>Ajustes</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="help-circle-outline"></ion-icon>
          <ion-label>Ayuda y Opiniones</ion-label>
        </ion-item>

        <ion-item lines="none" (click)="close()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrrar Sesion</ion-label>
        </ion-item>

      </ion-item-group>
      
    </ion-list>
    
  </ion-content>
  
</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pokemon AYAKI</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <div #img1>
              <ion-img  src="./assets/image/logo.svg" ></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title>Crear Equipo </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-button id="open-loading" [routerLink]="['/pokemon-list']" >ingresar</ion-button>
                <ion-loading trigger="open-loading" message="Cargando..." [duration]="1000" spinner="circles"></ion-loading>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card >
            <div #img2>
              <ion-img src="./assets/image/teamPokemon.svg"></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title>Administrar Equipo</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button id="present-alert" (click)="ver()" >Ingresar</ion-button>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>

  

</div>





