<section class="sectionNew">
  <ion-grid>
    <ion-searchbar class="color-primary" animated="true" placeholder="Buscar" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-grid>
</section>


<section class="sectionNew">
 <ion-grid>
  <ion-segment [scrollable]="true" id="open-loading" value="all" (ionChange)="segmentChanged($event)" (click)="deleteFilter()">
    <ion-segment-button value="all" (click)="loadMedia()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-segment-button>
    <ion-segment-button value="peliculas" (click)="loadMovie()">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Peliculas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="series" (click)="loadSerie()">
      <ion-icon name="aperture-outline"></ion-icon>
      <ion-label>Series</ion-label>
    </ion-segment-button>
    <ion-segment-button value="anime" (click)="loadAnime()">
      <ion-icon name="ribbon-outline"></ion-icon>
      <ion-label>Anime</ion-label>
    </ion-segment-button>
    <ion-segment-button value="juegos" (click)="loadGame()">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="libros" (click)="loadBook()">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Libros</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-grid>
<ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="1500"></ion-loading>
</section>

<section class="sectionNew" >
  <div id="main-content">
    <ion-item class="filtros">
      <ion-label> {{regNum}} resultados</ion-label>
      <ion-menu-toggle>
        <ion-icon size="large" name="filter-outline"></ion-icon>
      </ion-menu-toggle>
    </ion-item>
</div>
</section>

  <ion-content class="content-prin">
    <ion-card class="content-prin" *ngIf="selectedSegment === 'all'">
     
    </ion-card> 

    <div *ngIf="selectedSegment != 'all'">
      <ion-list [inset]="true"  *ngFor="let d of results"   >
        <ion-item (click)="presentAlert(d,selectedSegment)">
          <ion-label>{{d.media_name}}<br>{{d.date}}</ion-label>
          <ion-label slot="end">{{d.score}} <ion-icon name="star" style="color: gold;"></ion-icon></ion-label>
          <ion-badge [ngStyle]="getBadgeColor(d.type_name)">{{d.type_name}}</ion-badge>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="selectedSegment === 'all'">
      <ion-list [inset]="true"  *ngFor="let item of getCurrentItems()"   >
        <ion-item>
          <ion-label>{{item.media_name}}</ion-label>
          <ion-label slot="end">{{item.score}} <ion-icon name="star" style="color: gold;"></ion-icon></ion-label>
        </ion-item>
      </ion-list>
      <ion-item class="botones">
        <ion-button [disabled]="!hasPrev()" (click)="prev()">Anterior</ion-button>
        <ion-button slot="end" [disabled]="!hasNext()" (click)="next()">Siguiente</ion-button>
      </ion-item>
    </div>
    

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="abrirModal()">
      <ion-fab-button>
        <ion-icon class="icon2" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> 

  </ion-content>

  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Filtros</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-label class="labelFiltros">Por anio</ion-label>
          <ion-select [(ngModel)]="miSelectValue" (ionChange)="filterYear($event)">
            <ion-select-option value="Todos">Todos</ion-select-option>
            <ion-select-option>2019</ion-select-option>
            <ion-select-option>2020</ion-select-option>
            <ion-select-option>2021</ion-select-option>
            <ion-select-option>2022</ion-select-option>
            <ion-select-option>2023</ion-select-option>
            <ion-select-option>2024</ion-select-option>           
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="labelFiltros">Por categoria</ion-label>
          <ion-select  [(ngModel)]="miSelectValue2"  (ionChange)="filterType($event)">
            <ion-select-option value="Todos">Todos</ion-select-option>
            <ion-select-option *ngFor="let t of loadTypeMedia()">{{t.name}}</ion-select-option>  
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="labelFiltros">Por puntaje</ion-label>
          <ion-select  [(ngModel)]="miSelectValue3"  (ionChange)="filterScore($event)">
            <ion-select-option value="Todos">Todos</ion-select-option>
            <ion-select-option>1</ion-select-option>
            <ion-select-option>2</ion-select-option>
            <ion-select-option>3</ion-select-option>
            <ion-select-option>4</ion-select-option>
            <ion-select-option>5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-button expand="block" fill="outline" (click)="mostrarAlert()">Agregar Categorias</ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="block" fill="outline" (click)="deleteFilter()">BORRAR TODO</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

 
  


