
<section>
 <ion-grid>
  <ion-segment [scrollable]="true" value="heart" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all" >
      <ion-icon name="home"></ion-icon>
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="peliculas">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Peliculas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="series">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Series</ion-label>
    </ion-segment-button>
    <ion-segment-button value="anime">
      <ion-icon name="star"></ion-icon>
      <ion-label>Anime</ion-label>
    </ion-segment-button>
    <ion-segment-button value="juegos">
      <ion-icon name="call"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="libros">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Libros</ion-label>
    </ion-segment-button>
    <ion-segment-button value="basket">
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-grid>
</section>

<ion-content>
    <ion-grid>
      <ion-row >
        <ion-col sizeMd="4" *ngFor="let d of data">
          <ion-card >
            <ion-img src="./assets/marvel.jpg"></ion-img>
            <ion-card-title> 
             
                {{d.media_name}}
              
            </ion-card-title>
            <ion-card-content >  
                <div>
                  Fecha: {{d.date}}
                </div>
                <div>
                  Puntaje: {{d.score}}
                </div>
                <div *ngIf="selectedSegment === 'series' || selectedSegment === 'anime'">
                  Temporada: {{d.Temp}} 
                </div>
                <div *ngIf="selectedSegment === 'juegos'">
                  Horas: {{d.hours}}
                </div>
                <div *ngIf="selectedSegment === 'libros'">
                  Paginas: {{d.pages}} 
                </div>
              </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  


